.cart_main {
  display: flex;
  flex-direction: column;
  margin: 2rem 0;
}
.cart_content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
  margin: 1rem 0;
  padding: 1rem;
  background-color: #f3f3f3;
  box-shadow: 5px 5px 5px lightgray;
}
.cart_content img {
  height: 200px;
  width: 200px;
  border: #b76363 solid 1px;
  box-shadow: 5px 5px 5px lightgray;
}
.cart_content input {
  height: 3rem;
  border-radius: 50%;
  padding: 1rem 0.5rem;
  border: #b76363 solid 2px;
}
