.navbar_main {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.navbar_main a,
.navbar_main button {
  margin: 1rem;
  padding: 0.5rem;
  text-decoration: none;
  font-size: 1.5rem;
  font-family: Raleway;
  color: black;
  background-color: white;
  border: none;
}
.navbar_main a:hover,
.navbar_main button:hover {
  background-color: #63b7b7;
  box-shadow: 5px 5px 5px lightgray;
}
