.products_main {
  margin: 1rem 0;
}
.products_links {
  display: flex;
  justify-content: center;
  border-top: #63b7b7 solid 2px;
  border-bottom: #63b7b7 solid 2px;
}
.products_links a {
  margin: 1rem;
  padding: 0.5rem;
  font-size: 1.2rem;
  text-decoration: none;
  color: black;
}
.products_links a:hover {
  /* background-color: #b76363;
  color: white;
  box-shadow: 5px 5px 5px lightgray; */
  color: #b76363;
  text-decoration-line: underline;
}
.products_container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 3rem 0;
}
.products_container > div {
  margin: 1rem;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #f3f3f3;
  box-shadow: 3px 3px 3px lightgray;
}
.products_content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.products_container h1 {
  font-size: 1rem;
  text-align: center;
  margin: 2rem;
}
.products_container img {
  height: 250px;
  width: 250px;
  border: #63b7b7 solid 0.5px;
  box-shadow: 3px 3px 3px lightgray;
}
.products_container button {
  background-color: #63b7b7;
  border: none;
  padding: 0.5rem;
  color: white;
}
