* {
  font-family: "monospace";
  margin: 0;
  box-sizing: border-box;
}
/* home animation */
.backgroundhome {
  background-color: white;
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
section {
  position: relative;
  width: 100%;
  height: 100%;
  background: purple;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
section {
  position: relative;

  top: -30%;
  left: -20%;
  width: 1900px;

  display: flex;
  /* padding: 10px 0; */
  white-space: normal;

  transform: rotate(-30deg);
}

.row1 {
  animation: animate1 20s linear infinite;
  animation-delay: -80%;
}
@keyframes animate1 {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-50%);
  }
}
.row2 {
  animation: animate2 20s linear infinite;
  animation-delay: -80%;
}
@keyframes animate2 {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(100%);
  }
}

/* home animation end  */
body,
body > div {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

#navbar {
  display: flex;
  flex-flow: nowrap column;
  justify-content: center;
  /* background-color: lightblue; */
  padding: 20px;
  width: 100vw;
}

#navbar .link {
  padding: 50px;
  margin-bottom: 10px;
  font-size: large;
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-family: "Bebas Neue", "monospace";
  font-size: 1.5rem;
}

#links {
  margin: auto;
}

#nav-title {
  width: 10rem;
  height: 10rem;
  font-family: "Bebas Neue", "monospace";
  align-self: center;
}

#main-section {
  display: flex;
  flex-direction: column;
}

.page-title {
  text-align: center;
}

.page-title > h1 {
  font-family: "Bebas Neue", "monospace";
  margin-top: 30px;
}

#navbar > #links :hover {
  font-size: 25px;
  font-size-adjust: 20px;
}

#navbar > #links {
  font-weight: bold;
  font-size: 1em;
  transition: all 500ms;
}
.textInput {
  text-align: center;
}

#products {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#search {
  justify-self: center;
  width: 50%;
}
.productView {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 33vw;
  align-items: center;
  justify-content: center;
}

.product-text {
  font-family: "Bebas Neue", "monospace";
  width: 33vw;
  text-align: center;
}

.product-text > a {
  text-decoration: none;
  color: black;
}

#image {
  width: 12rem;
  height: 12rem;
}

.singleView {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  width: 50vw;
  margin-top: 50px;
}

.single-text {
  text-align: center;
  margin: 10px;
  font-family: "Bebas Neue", "monospace";
}

.main-login {
  text-align: center;
  margin-top: 50px;
}
.sign-in,
#search {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.sign-in-box {
  width: 200px;
  margin: 10px auto 10px auto;
  text-align: center;
}

#add-button,
#search > input {
  width: 50%;
  background-color: transparent;
  border: 2px solid black;

  font-size: 0.9rem;
  padding: 0.4rem;
  text-transform: uppercase;
}
